.modal-overlay{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    backdrop-filter: blur(5px);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.modal-container {
    opacity: 0;
    transform: scale(0.99);
    width: 70%;
    min-height: 2vh;
    overflow-y: auto;
    background: white;
    border-radius: 9px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    /* padding: 1.5rem; */
    border: 1px solid black;
    transition: opacity 0.2s ease, transform 0.1s ease;
}


.modal-overlay.show {
    opacity: 1;
}

.modal-container.show {
    opacity: 1;
    transform: scale(1);
}

.modal-container.hidden {
    opacity: 0;
    transform: scale(0.99);
}

.modal-overlay.hidden {
    opacity: 0;
}

.logout-confirm-container {
    width: 300px;
    min-height: 20vh;
    padding: 2rem;
    text-align: center;
}


.logout-confirm-container {
    width: 400px;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    text-align: center;
    min-height: auto;
  }
  
  .logout-heading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .logout-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .cancel-button, .confirm-button {
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    border: none;
  }
  
  .cancel-button {
    background-color: #e0e0e0;
    color: #333;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }

  .cancel-button:hover {
    background-color: #bebdbd;
  }
  
.confirm-button {
    background-color: #DCD1E9;
    color: white;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.confirm-button:hover {
    background-color: #c3b2d6;
}