.reminder-item-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #e5e7eb;
  }
  
  .reminder-item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  
  .reminder-item-title {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .reminder-item-icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reminder-item-icon {
    width: 20px;
    height: 20px;
    background-color: #818cf8;
    border-radius: 4px;
    transform: rotate(12deg);
  }
  
  .reminder-item-location,
  .reminder-item-date {
    font-family: "Assistant", sans-serif;
    margin: 0;
    margin-left: 9px;
    font-size: 15px;
    color: #6b7280;
  }
  
  .reminder-item-location {
    margin-bottom: 1px;
  }
  