.reminder-item-container {
    background-color: white;
    border-radius: 8px;
    padding: 10px 10px;
    margin-bottom: 16px;
    border: 1px solid #e5e7eb;
    max-width: 500px;
  }
  
  .reminder-item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0px;
    
  }
  
  .reminder-item-title {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .reminder-item-icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reminder-item-icon {
    width: 20px;
    height: 20px;
    background-color: #818cf8;
    border-radius: 4px;
    transform: rotate(12deg);
  }
  
  .reminder-item-tag,
  .reminder-item-date {
    font-family: "Roboto", sans-serif;
    margin: 0;
    margin-left: 9px;
    font-size: 15px;
    color: #3b404a;
  }
  
  .reminder-item-tag {
    /* margin-bottom: 1px; */
    padding-bottom: 0px;
    margin-top: 2px;
  }
  