.logout-button {
    background-color: #ffffff;
    padding:0.5rem 1rem;
    border-radius: 26px;
    font-family: "Jaldi", sans-serif;
    font-weight: 500;
    /* font-size: 0.9rem; */
}

.logout-button:hover {
    background-color: #f3f0f8;
    transition: background 0.5s ease;

}