.logout-button {
    background-color: #e0cfff;
    border: none;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #9187a4;
    color:white
}