/* this is the frontend for the compose notificiations page */
.new-mail-wrapper {
    position: fixed;
    bottom: 0;
    width: 510px;
    border: 2px solid #DCD1E9;
    border-radius: 8px;
    height: 60%;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.scrollable-container{
    flex: 2;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.email-form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.email-form input:not(.subject) {
    border: none;
    color: black;;
}

.email-form input:focus{
    outline: none;
}

.new-mail-title{
    background-color: #DCD1E9;
    color: #000000;
    text-align: left;
    font-weight: 500;
    border-radius: 2%;
    border: 2px solid #DCD1E9;
    height: 35px;
    top: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-bottom: 16px;
    position: relative;
}

.close-button {
    border: none;
    border-radius: 50%;
    padding: 10px 12px;
    background-color: #DCD1E9;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
    background-color: #d2bfe9;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.minimize-button {
    border: none;
    border-radius: 50%;
    padding: 10px 12px;
    background-color: #DCD1E9;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.minimize-button:hover {
    background-color: #d2bfe9;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

p{
    margin: 0;
    padding-left: 8px;
    padding-bottom: 3px;
}

.subject {
    border: none;
    border-bottom: 1px solid #fce7f3;
    padding: 8px 15px;
    padding-top: 0px;
    padding-left: 17px;
    width: 478px;
    position: center;
    display: block;
    font-size: 14px;
    font: Arial;
}

.subject::placeholder{
    color: #6b7280;
    font-size: 14px;
    font: Arial;
}

.subject:focus{
    outline: none;
}

.email-type-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 510px;
    border-bottom: 1px solid #fce7f3;
}

p.email-type-text{
    color: #6b7280;
    font-size: 14px;
    font-family: Arial;
}

.email-type-text-container{
    justify-content: flex-start;
    padding-right: 8px;
    display: flex;
    align-items: left;
    padding: 11px 10px;
    padding-bottom: 6px;
}

.claim-priority-option{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 11px 15px;
    padding-left: 1px;
}

.email-option {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 11px 15px;
    padding-left: 8px;
}

.emailType{
    color: 1px #6366f1;
}

label{
    font-size: 14px;
    color: #6b7280;
    font-family: Arial;
}

.email-deadline-container{
    border: none;
    border-bottom: 1px solid #fce7f3;
    padding: 8px 15px;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 17px;
    width: 478px;
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
    position: relative;
}

p.deadline-placeholder{
    color: #6b7280;
    font-size: 14px;
    font-family: Arial;
    margin: 0;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-top: 0px;
    position: absolute;
    bottom: 0%;
    left: 17px;
    transform: translateY(-3px);
    padding-right: 20px;
    z-index: 1;
}

.email-deadline{
    border: none;
    color: #6b7280;
    padding-left: 80px;
    width: 100%;
    position: relative;
    top: 5px;
}

.email-deadline:focus{
    outline: none;
}

.news-claims-task-type{
    border: none;
    font-size: 14px;
    font: Arial;
    color: black;
}

.news-claims-task-type::placeholder{
    color: #6b7280;
    font-size: 14px;
    font: Arial;
}

.news-claims-task-type-container {
    border: none;
    border-bottom: 1px solid #fce7f3;
    padding: 8px 15px;
    padding-top: 12px;
    padding-left: 17px;
    width: 478px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.claim-details-container {
    border: none;
    width: 510px;
    border-bottom: 1px solid #fce7f3;
}

.policy-details-container{
    border: none;
    border-bottom: 1px solid #fce7f3;
    padding: 1px 15px;
    padding-left: 15px;
    width: 478px;
    height: 35px;
    display: flex;
    bottom: -5px;
    flex-direction: column;
    position: relative;
    transform: translateY(-3px);
}

.select-changes-to-premium {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: column;
    font: Arial;
    font-size: 14px;
}

.changes-to-premium-input {
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    font: Arial;
    font-size: 14px;
    color: #6b7280;
    background-color: transparent;
}

.select-insured-name,
.select-claimant-name {
    border: none;
    border-bottom: 1px solid #fce7f3;
    background-color: transparent;
    width: 510px;
}

.insured-name-input,
.claimant-name-input,
.line-of-business-input {
    padding: 8px 15px;
    padding-top: 15px;
    padding-left: 20px;
    width: 100%;
    position: center;
    display: block;
    font: Arial;
    font-size: 14px;
    background-color: transparent;
}

.insured-name-input::placeholder,
.claimant-name-input::placeholder,
.line-of-business-input::placeholder{
    color: #6b7280;
    font-size: 14px;
    font: Arial;
}

.search-recipient-container-box{
    border-bottom: 1px solid #fce7f3;
    width: 93%;
    display: block;
    padding-top: 7px;
    padding-bottom: 2px;
    box-sizing: border-box;
}

.search-import{
    margin-left: 15px;
}

.search-import:focus{
    outline: none;
}

.message-content-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.message-content-textbox{
    border: none;
    resize: none;
    color: black;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 6.5px;
    width: 100%;
    color: black;
    font-size: 14px;
    min-height: 120px;
    box-sizing: border-box;
    overflow: hidden;
}

.message-content-textbox:focus{
    outline: none;
    color: black;
}

.send-button-container{
    position: sticky;
    bottom: 0;
    padding: 11px 15px;
    border-top: 1px solid #fce7f3;
    display: flex;
    background-color: white;
    justify-content: flex-end;
    z-index: 2;
}

.send-button{
    background-color: #fce7f3;
    color: black;
    border-radius: 14%;
    border: none;
    padding: 5px 12px;
    margin-right: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
}

.send-button:hover {
    background-color: #e9d5ff;
    color: #6366f1;
}