@keyframes header-icon-flash {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.1);
  }
}


.header-icon-flash-active {
  animation: header-icon-flash 0.3s ease-in; 
}


html {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b88fe4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7941b5;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }
  
  .header-title {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    font-family: "KoHo", sans-serif;
  }
  
  .header-actions {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    right: 0;
  }
  
  .header-sort-by {
    display: flex;
    align-items: center;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: white;
  }
  
  .header-sort-by-text {
    margin-right: 5px;
  }
  
  .header-profile-image-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* overflow: hidden; */
    background-color: #f3f4f6;
  }
  
  .header-profile-image-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-profile-image-container {
      position: relative;
      cursor: pointer;
      z-index: 2;
    }
  
  .header-dropdown {
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 999;
    background: linear-gradient(to bottom, #d9cde7, #ffffff);
    padding: 1rem;
    width: 220px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .dropdown-greeting {
    font-weight: 500;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    font-family: "Roboto", sans-serif;
    /* font-family: "Assistant", sans-serif; */
    font-weight: 500;
    font-size: 2rem;
  }
  
  .dropdown-btn {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    background-color: rgb(241, 228, 251);
    cursor: pointer;
    transition: background 0.3s ease;
    border: 2px solid #111111;
    border-radius: 16px;
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
  }
  
  .dropdown-btn:hover {
    background-color: #d7cbf7;
  }
  
  #genAI {
    padding: 2px;
    background: none;
    border-radius: 100%;
  }

  
