.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #efefef;
  width: 80px;
  padding: 16px 0;
  overflow: hidden;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Smoother easing function */
  flex-shrink: 0;
}
  
.sidebar-container:hover {
  width: 240px;
}

.sidebar-components {
  margin-top: 50px;
}

.sidebar-item, .sidebar-logo-container {
  display: flex;
  align-items: center;
}

.sidebar-logo-container {
  margin-left: 20px;
}

.sidebar-item {
  font-family: "Roboto", sans-serif;
  border: none;
  margin: 0;
  background: none;
  cursor: pointer;
  padding: 4px 0px;
  gap: 12px;
  width: 100%;
  position: relative;
  transition: background-color 0.3s ease;
  border-radius: 80px;
}

.sidebar-item .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 48px;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}

.sidebar-item:hover {
  background-color: #dadada;
}

.sidebar-item.active .icon-container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #DCD1E9;
  border-radius: 50%;
  z-index: -1;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar-container:hover .sidebar-item.active {
  background-color: #DCD1E9;
  width: 100%;
}

.sidebar-container:hover .sidebar-item.active .icon-container::before {
  opacity: 0;
  transform: scale(0.5);
}

.sidebar-item-compose span,
.sidebar-item span{
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: #374151;
  margin-left: 22px;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.sidebar-container:hover .sidebar-item-compose span,
.sidebar-container:hover .sidebar-item span {
  opacity: 1;
  visibility: visible;
  transform: translateX(0); 
  transition: opacity 0.3s ease, visibility 0s, transform 0.3s ease;
}

.sidebar-item-compose span {
  margin-left: 37px;
}

.sidebar-logo-container {
  margin-top: 24px;
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 210px;
}

.sidebar-logo {
  position: absolute;
  top: 3px;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.sidebar-logo-container span {
  position: absolute;
  left: 50px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
  font-family: "KoHo", sans-serif;
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
}
.sidebar-container:hover .sidebar-logo-container span {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.3s ease 0.1s, visibility 0s, transform 0.3s ease 0.1s;
}

.sidebar-logo {
  position: relative;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-container:hover .sidebar-logo {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.sidebar-logo svg {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.sidebar-container:hover .sidebar-logo svg {
  transform: scale(0.8);
}

.sidebar-item-compose {
  display: flex;
  align-items: center;
  border: none;
  background-color: #FFBE8F;
  margin: 0 auto 35px auto;
  cursor: pointer;
  padding: 8px 10px;
  gap: 12px;
  width: 60%;
  position: relative;
  transition: background-color 0.3s ease;
  border-radius: 80px;
  flex-shrink: 0;
  height: 54px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.sidebar-container:hover .sidebar-item-compose {
  width: 80%;
  margin: 0 auto 35px auto;
}

.sidebar-item-compose .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  height: 48px;
  position: relative;
  z-index: 2;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-item-compose:hover {
  background-color: lightgoldenrodyellow;
}
